Flask==2.0.2
Jinja2==3.0.3
Markdown==3.3.6
MarkupSafe==2.0.1
Werkzeug==2.0.2
bleach==4.1.0
click==8.0.3
importlib-metadata==4.10.1
itsdangerous==2.0.1
pkg-resources==0.0.0
plumbum==1.7.2
ply==3.11
pypandoc==1.7.2
typing-extensions==4.0.1
urllib3==1.26.8
zipp==3.7.0
python-dotenv==0.21.0