body{
	min-width: 900px;
}

/* GENERAL RULES */

/* main title element that says "in octomode" */
h1 em.octomode{
	color: darkorchid;
}

/* navigation */
div#nav{
	position: fixed;
	width: calc(100% - 1em);
	top: 0;
	left: 0;
	margin: 0;
	padding: 0 0.5em;
}
	div#nav h1{
		position: absolute;
		width: auto;
		line-height: 0;
		margin: 0.75em 15px;
		float: left;
	}
	div#nav div#buttons{
		margin: 0.5em 15px;
		float: right;
	}
	div#nav input{
		min-width: 300px;
	}
/* iframe rules */
iframe{
	width: 100%;
	height: 100%;
	border: none;
}
/* main content area */
div#wrapper{
	position: fixed;
	top: 50px;
	left: 25px;
	width: calc(100vw - 25px - 25px);
	height: calc(100vh - 50px - 25px);
}

/*div#logger-wrapper{
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: -1;
	width: 100%;
	height: 100%;
	overflow-y: auto;
	padding: 0 1em;
	background-color: lightyellow;
	display: flex;
	flex-direction: column-reverse;
	white-space: pre;
}*/

/* start page */
body.start-page *{
	font-family: serif;
	font-size: 115%;
	font-weight: bold;
}

/* Z-INDEX */

div#wrapper,
div.pagedjs_pages{
	z-index: 1;
}
div#nav{
	z-index: 11;
}
