<!DOCTYPE html>
<html lang='en'>
<head>
	<meta charset="utf-8" />
	<title>post-script</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css')}}">
</head>
<body>
	<h1>post-script</h1>
	<div id="nav">
		<a href="/">pad</a>: <input type="text" name="pad" value="https://pad.vvvvvvaria.org/post-script.md">,
		<a href="/html/">html</a>,
		<a href="/pdf/">pdf</a>,
		<a href="/stylesheet/">stylesheet</a>: <input type="text" name="pad" value="https://pad.vvvvvvaria.org/post-script.css">,
	</div>
	<div id="wrapper">
		{% block content %}
		{% endblock %}
	</div>	
</body>
</html>
