<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset="utf-8" />
  <title>{{ name }} in octomode</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
  {% block head %}
  {% endblock %}
</head>
<body>
  <div id="wrapper">
    {% block content %}
    {% endblock %}
  </div>
</body>
<script>
window.addEventListener('load', function () {

  // Insert the nav buttons, after the page is loaded
  const nav = document.createElement('div');
  nav.id = 'nav';

  nav.innerHTML = `
    <h1>{{ name }} <a href="{{ url_for('index') }}"><em class="octomode">in octomode</em></a></h1>
    <div id="buttons">

      <a href="{{ url_for('pad', name=name) }}"><button>pad</button></a> 
      <span id="click_md" class="info" tabindex="1">🌐</span>
      <div id="show_md" class="hidden"><input type="text" name="pad" value="{{ pad_url }}/{{ name }}.md"></div>

      <a href="{{ url_for('stylesheet', name=name) }}"><button>stylesheet</button></a> 
      <span id="click_css" class="info" tabindex="1">🌐</span>
      <div id="show_css" class="hidden"><input type="text" name="pad" value="{{ pad_url }}/{{ name }}.css"></div>

      <a href="{{ url_for('html', name=name) }}"><button>html</button></a>

      <a href="{{ url_for('pdf', name=name) }}"><button>pdf</button></a>
    </div>`;

  document.body.insertBefore(nav, document.body.firstChild);

})
</script>
{% block footer %}
{% endblock %}
</html>
