@charset "utf-8"; 

/* ADD SHORT TEXT HERE: THIS DOCUMENT SPEAKS CSS */

@page{
    size: A5;
}
@page:first{
    background-color: pink;
}
body{
    color: green;
}
section#cover{
    page-break-after: always;
}