<!DOCTYPE html>
<html lang="{{ lang }}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/{{ name }}/stylesheet.css" rel="stylesheet" type="text/css" media="screen">
    <title>{{ title }}</title>
</head>
<body>
    <section id="cover">
        <h1 id="cover_title">{{ title }}</h1>
        <div id="cover_container"></div>
    </section>

    <section id="main">
        <div id="wrapper">{{ pad_content }}</div>
    </section>
</body>
</html>
